/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 13px;
    color: #7d7f84;
    background-color: #141922;
    font-weight: 600;
    cursor: default;
}

/* UTILITIES */
/* displays */
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.align-center {
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
}

.container {
    height: 100vh;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

ul {
    list-style: none;
}

/* colors */
.white {
    color: white;
}

/* distances */
.mb_10 {
    margin-bottom: 10px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_25 {
    margin-bottom: 25px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mr_10 {
    margin-right: 10px;
}

.mr_20 {
    margin-right: 20px;
}

.mt_25 {
    margin-top: 25px;
}

.my_20 {
    margin: 20px auto;
}

.pb_10 {
    padding-bottom: 10px;
}

/* MAIN SECTION */
section.main {
    overflow: auto;
}

/* aside */
aside {
    width: 230px;
    background-color: #000000;
    padding: 0 20px;
    overflow-y: auto;
    flex-shrink: 0;
}

aside .logo {
    line-height: 90px;
}

aside .logo img {
    vertical-align: middle;
}

aside nav li.action a {
    align-items: center;
}

aside nav img {
    height: 25px;
}

.add-playlist i {
    padding: 12px;
    background-color: lightgray;
}

aside .playlists .add-playlist span {
    font-size: 15px;
}

aside .playlist-names span {
    line-height: 25px;
}

aside .playlists .install {
    border-bottom: 1px solid black;
}

aside .user {
    font-size: 15px;
    font-weight: 600;
}

aside .user i {
    font-size: 25px;
}

/* main */
main {
    padding: 90px 20px 20px;
    overflow-y: auto;
    flex-wrap: wrap;
}

main .fixed {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 90px;
    text-align: right;
    padding: 20px 5px;
}

main .fixed button {
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 50px;
}

main nav ul {
    justify-content: center;
}

main nav ul li {
    margin: 0 25px;
    padding: 5px 0;
}

main .music_cards .song_card {
    width: calc(100% / 6 - 10px);
    margin: 0 5px;
}

.music_cards:last-child .song_card .cover {
    border-radius: 50%;
    overflow: hidden;
}
.music_cards .song_card img {
    display: block;
    width: 100%;
    object-fit: contain;
}

/* FOOTER */
footer {
    justify-content: space-between;
    height: 90px;
    flex-shrink: 0;
    background-color: #282828;
    padding: 10px;
}

footer.main_actions .actions_left,
footer.main_actions .actions_right {
    width: 15%;
}

footer .console button {
    margin: 0 20px;
}

footer .actions_left img {
    height: 100%;
}

footer span {
    font-size: 10px;
}

footer .title span:hover {
    color: white;
    text-decoration: underline;
}

footer .actions_central {
    color: white;
}

footer .actions_central button i {
    font-size: 18px;
}

footer .actions_central .play {
    font-size: 28px;
}

footer .actions_central .play:hover {
    transform: scale(1.2);
}

footer .actions_left i,
footer .actions_right i {
    font-size: 15px;
}

footer i:hover {
    color: white;
    cursor: pointer;
}

footer .actions_left span:hover {
    cursor: pointer;
}

footer .progress_bar:hover {
    cursor: pointer;
}

footer .actions_central .progress {
    min-width: 50%;
    justify-content: space-between;
}

footer .progress_bar {
    height: 4px;
    background-color: grey;
    border-radius: 5px;
    position: relative;
}

footer .progress_bar::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 35%;
    border-radius: 5px;
    background-color: white;
}

footer .progress_bar::after {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: calc(4px + 10px);
    height: calc(100% + 10px);
    background-color: white;
    border-radius: 50%;
}

footer .progress:hover .progress_bar::after {
    display: block;
}

footer .progress:hover .progress_bar::before {
    background-color: #1ed760;
}

.actions_right {
    justify-content: space-between;
}

.actions_right .progress {
    min-width: 60%;
}